
.add-comment{
    @include flex-column;
    padding: 1em 0 2em 0;
    border-bottom: 1px solid var(--bg_input);
    textarea{
        margin-top: 1em;
    }
    button{
        align-self: flex-end;
        margin-top: 2em;
        filter: invert(100%);
    }
}

.comment-section{
    margin: 2em 0;
    &:first-child{
        padding-top: 0;
    }
}
.comment{
    @include flex-column;
    // border-left: 2px solid var(--bg_input);
    padding-left: 1.5em;
    padding-top: .5em;
    span{
        font-size: .9em;
    }
    button{
        margin: 1em 0 0 1.5em;
        align-self: flex-end;
        &[type="submit"]{
            filter: invert(100%);
        }
    }

    form{
        @include flex-column;
        margin-top: 1em;
        div{
            @include flex-row;
            justify-content: flex-end;
        }
    }
    
    &:target{
        background-color: var(--highglight_comment);
    }
}