
:root{
    --bg_primary: #151515FF;
    --bg_secondary: #1F1F1FFF;
    --bg_input: #363636FF;
    --font_color: #DBDBDBFF;
    --highglight_comment: #2c2c2c;
    --scroll-thumb: #363636FF;
    --scroll-track: #1F1F1FFF;
    --corners: 3px;
}

[data-theme="light"]{
    --bg_primary: #ffffff;
    --bg_secondary: #f2f2f2;
    --bg_input: #e0e0e0;
    --font_color: #222222;
    --highglight_comment: #dbdbdb;
    --scroll-thumb: #cfcfcf;
    --scroll-track: #f2f2f2;
}


@mixin flex-column{
    display: flex;
    flex-direction: column;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // align-self: center;

}