
@import "./general.scss";
@import "./mainPage.scss";
@import "./side.scss";
@import "./post.scss";
@import "./comments.scss";
@import "./board.scss";
@import "./rce.scss";

body{
  background-color: var(--bg_primary);
  font-size: 16px;
}

html, body, .App{
  height: 100%;
}

body, a, input, button, textarea, .App{
  color: var(--font_color);
  border-radius: var(--corners);
  // font-size: 16px;
  font-family: var(--font_family);
}

input, button, textarea{
  background-color: var(--bg_input);
  border: none;
  padding: 10px 20px;
}

a, button{
  cursor: pointer;
}

textarea{
  height: 10em;
}

h2{
  margin-bottom: .5em;
}

button{
  width: fit-content;
  font-size: 14px;
  &:hover{
    cursor: pointer;
  }
}

.main, .post, .side, .header-mobile, .post-preview, .add-post, .skeleton-error {
  background-color: var(--bg_secondary);
}


.board-wrapper, .post-wrapper{
  @include flex-row;
  justify-content: center;
  position: relative;
}


.boards{
  @include flex-row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 2em;
  a {
    flex-basis: 20%;
    text-align: center;
    padding-right: 0.6em;
  }
}

.theme-toggle{
  margin-top: auto;
  svg{
    padding: 5px;
    border-radius: var(--corners);
    // background-color: var(--bg_input);
  }
}

// scrollbars

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb) var(--scroll-track);
}

.ql-editor{
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-track) var(--scroll-thumb);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-track);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 20px;
  border: none;
}

.ql-editor::-webkit-scrollbar-track {
  background: var(--scroll-thumb);
}

.ql-editor::-webkit-scrollbar-thumb {
  background-color: var(--scroll-track);
}




@media (max-width: 1000px) {
  .board-wrapper, .post-wrapper{
    @include flex-column;
    order: 1;
  }
  .board, .post-wrapper{
    order: 1;
    padding: 1em 2em;
  }
  .post-preview, .post, .add-post, .skeleton-error{
    width: calc(100% - 5em);
    margin-top: 0;
  }

}

@media screen and (max-width: 400px) {
  .board, .post-wrapper{
    order: 1;
    padding: 1em;
    overflow: hidden;
    
  }
}
