
.post-preview, .post, .add-post, .add-post form{
    @include flex-column;

}

.post-preview, .post, .skeleton-error{
    text-align: justify;
    width: 500px;
    padding: 0 2.5em 1em 2.5em;
    margin: 1.5em 0;
}

.post-preview{
    max-height: 350px;
    border-radius: var(--corners);
    text-decoration: none;
    .preview-description{
        height: 100%;
    }
    .preview-date{
        padding: .5em 0;
        align-self: flex-end;
    }
}

.post{
    & > button{
        margin: 2em 0;
    }
    .post-info{
        h1{
            margin-bottom: 1px;
        }
        .post-description{
            height: 100%;
        }
        .post-date{
            padding: 1px 0 .7em 0;
            font-size: .9em;

        }
    }
    
}

.skeleton {
    & > *{
        background-color: var(--bg_input);
        border-radius: var(--corners);
        position: relative;
        background: linear-gradient(        
            to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.123) 50%,
            rgba(255, 255, 255, 0) 80%
        ), var(--bg_input);
        background-repeat: repeat-y;        
        background-size: 100px 200px;       
        background-position: 0 0;
        animation: load 1s infinite;
        &:before{
            content: " ";
        }
    }
    h2, .preview-date{
        height: 1.5em;
    }
    .preview-description{
        height: 3em;
    }
    .preview-date{
        margin: 0.5em 0;
        padding: 0 .5em;
        width: 25%;
    }
    

    @keyframes load {
        to {
            background-position: 100% 0, 0 0;
        }
    }
}

.skeleton-error{
    @include centered-container;
    border-radius: var(--corners);
    padding: 2.5em;
}

.post .skeleton-error, .post .post-preview.skeleton{
    padding: 2.5em 0;
}

.add-post{
    width: 500px;
    padding: 2.5em;
    margin: 1.5em 0;
    form{
        margin: 1em 0;
    }
    form div{
        @include flex-row;
        justify-content: flex-end;
    }
    label{
        margin-bottom: .5em;
    }
    input{
        margin-bottom: 1.5em;
    }
    button{
        margin: 2em 0 0 1.5em;
        width: fit-content;
        &[type="submit"]{
            filter: invert(100%);
        }
    }


}