

.post-preview, .post, .add-post, .add-post form{
    @include flex-column;
}

.skeleton {
    & > *{
        background-color: var(--bg_input);
        border-radius: var(--corners);
        position: relative;
        background: linear-gradient(        
            to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.123) 50%,
            rgba(255, 255, 255, 0) 80%
        ), var(--bg_input);
        background-repeat: repeat-y;        
        background-size: 100px 200px;       
        background-position: 0 0;
        animation: load 1s infinite;
        &:before{
            content: " ";
        }
    }
    h2, .preview-date{
        height: 1.5em;
    }
    .preview-description{
        height: 3em;
    }
    .preview-date{
        margin: 0.5em 0;
        padding: 0 .5em;
        width: 25%;
    }
    

    @keyframes load {
        to {
            background-position: 100% 0, 0 0;
        }
    }
}

.skeleton-error{
    border-radius: var(--corners);
    padding: 2.5em;
}



// .add-post{
//     width: 500px;
//     padding: 2.5em;
//     form{
//         margin: 1em 0;
//     }
//     form .buttons{
//         @include flex-row;
//         justify-content: flex-end;
//     }
//     label{
//         margin-bottom: .5em;
//     }
//     input{
//         margin-bottom: 1.5em;
//     }
//     button{
//         margin: 2em 0 0 1.5em;
//         width: fit-content;
//         &[type="submit"]{
//             filter: invert(100%);
//         }
//     }
// }

