
.side, .side form{
    @include flex-column;
}

.side{
    height: 100vh;
    width: 15em;
    padding: 0 2.5em;
    margin: 0 2em;
    overflow-y: auto;
    position: sticky;
    top: 0;
    bottom: 0;
    h2, h1 {
        padding-top: 1em;
        margin-bottom: .2em;
        font-weight: normal;
    }
    button{
        margin: 1em 0;
    }
    form {
        margin-bottom: 1em;
        label{
            margin: 1em 0 .5em 0;
            input{
                border-radius: var(--corners) 0 0 var(--corners);
            }
            button{
                border-radius: 0 var(--corners) var(--corners) 0;
                line-height: 1.15;
                border-left: 1px solid var(--bg_secondary);
            }
        }
    }
    .boards a{
        text-align: start;
    }
}